/* App.css */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.bg {
  width: 100vw;
  height: 100vh;
  background-image: url('/back.png');
  background-size: cover;
  background-position: center;
}
